a {display:block;text-decoration:none;}

html {overflow:hidden;}
body {display:flex;align-items:flex-start;height:100vh;background-color:#000;}

.header_wrap {padding:8px 12px 20px;max-width:244px;width:100%;height:100%;border-right:1px solid rgba(38, 38, 38)}
.header_wrap .header_top_box {}
.header_wrap .header_top_box .logo {margin-bottom:19px;padding:25px 12px 16px;}
.header_wrap .header_top_box .logo a {display:block;height:37px}
.header_wrap .header_top_box .nav_wrap [class^="ico_"] {margin:4px 0;padding:14px 12px;font-size:16px;color:#fff;}
.header_wrap .header_top_box .nav_wrap [class^="ico_"]::before {content:'';display:inline-block;width:22px;height:22px;margin-right:16px;background-repeat:no-repeat;background-position:center;vertical-align:text-bottom;}
.header_wrap .header_top_box .nav_wrap [class^="ico_"] span {display:inline-block;vertical-align:middle;}

/* 네비영역 아이콘 모음 */
.header_wrap .header_top_box .nav_wrap .ico_home::before {background-image:url(../imgs/home_icon.svg);}
.header_wrap .header_top_box .nav_wrap .ico_search::before {background-image:url(../imgs/search_icon.svg);}
.header_wrap .header_top_box .nav_wrap .ico_quest::before {background-image:url(../imgs/compass_icon.svg);}
.header_wrap .header_top_box .nav_wrap .ico_reels::before {background-image:url(../imgs/reels_icon.svg);}
.header_wrap .header_top_box .nav_wrap .ico_msg::before {background-image:url(../imgs/share_icon.svg);}
.header_wrap .header_top_box .nav_wrap .ico_alarm::before {background-image:url(../imgs/heart_icon.svg);}
.header_wrap .header_top_box .nav_wrap .ico_make::before {background-image:url(../imgs/newPost_icon.svg);}

.header_wrap .header_btm_box {position:fixed;bottom:0;}
.header_wrap .header_btm_box a, 
.header_wrap .header_btm_box button {margin:4px 0;padding:16px 12px;font-size:16px;color:#fff;}
.header_wrap .header_btm_box [class^="ico_"]::before {content:'';display:inline-block;width:22px;height:22px;margin-right:16px;background-repeat:no-repeat;background-position:center;vertical-align:text-bottom;}
.header_wrap .header_top_box [class^="ico_"] span {display:inline-block;vertical-align:middle;}

.header_wrap .header_btm_box .ico_threads::before {background-image:url(../imgs/threads_icon.svg);}
.header_wrap .header_btm_box .ico_more::before {background-image:url(../imgs/menu_icon.svg);}

header + section {overflow-y:scroll;width:100%;height:100%;}